<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<%-include('link.ejs')%>
</head>
<body>

	<div class="container">
		<%-include('top.ejs')%>

		<div class="row" style="margin-top: 10px">
			<div class="col-lg-2">
				<div class="list-group">
					<a href="s_index.ejs"class="list-group-item list-group-item-action">首页</a> 
					<a href="/srecord" class="list-group-item list-group-item-action">缺寝记录</a> 
					<a href="/sInfo" class="list-group-item list-group-item-action">我的信息</a> 
					<a href="/logOut" class="list-group-item list-group-item-action">退出</a>
				</div>
			</div>

			<div class="col-lg-6">

				<div class="card">
					<div class="card-header">用户信息</div>
					<div class="card-body">
						<div>
							<h2>用户信息如下：</h2>
							<div class="row">
								<div class="col-lg-6">
									<p>学号：<%=list[0].sno%></p>
									<p>用户名：<%=list[0].username%></p>
									<p>密码：<%=list[0].password%></p>									
									<p>性别：<%=list[0].sex%></p>	
									<p>寝室楼栋：<%=list[0].building%></p>
									<p>寝室号：<%=list[0].room%></p>
									
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>